// main color variables
$main-color: #7e0633;
$second-color: #fcdcc5;
$third-color: #000000;
// font color variables
$font-color-wh: #ffffff;
$font-color-black: #000000;
// font size variables
$font-large-length-32: 32px;
$font-large-length-48: 48px;
$font-large-length-64: 64px;
//medium size fonts
$font-medium-length-16: 16px;
$font-medium-length-20: 20px;
$font-medium-length-24: 24px;
//small size fonts
$font-small-length-12: 12px;
$font-small-length-8: 8px;
$font-small-length-4: 4px;
// top header fonts 
$title-font:  'Jenriv', sans-serif;
$h-font: 'Alegreya', serif;
$p-font: 'Lora', serif;

// box shadow 
$medium-box-shadow: 3px 4px 6px black;